@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: #fff;
  width: 100%;
  height: 100%;
  animation: loader-vanish 2s ease-in-out forwards;
}
.loader--container {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url(../../icones/pngtree-kniffe-fork-spoon-icon-png-image_3581494.svg);
}
.loader--container .loader-inner {
  width: 100%;
  height: 100%;
  animation: loader-spin 0.5s linear infinite;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  border: 3px solid transparent;
  border-right-color: #9356DC;
  border-left-color: #FF79DA;
  border-radius: 50%;
}
.loader--container .filler {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 200px;
  background-color: #9356DC;
  animation: plate-filler 2s ease-in-out;
}

@keyframes plate-filler {
  0% {
    transform: translate(0, 200px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
@keyframes loader-vanish {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes animatebottom {
  0%, 90% {
    top: -100%;
    opacity: 0;
    height: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
header {
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 64px;
  z-index: 1;
}
header a {
  color: #000;
  text-decoration: none;
}
header a:visited {
  color: #000;
}
header a:hover {
  color: #000;
}
header a:active {
  color: #FF79DA;
}
header svg {
  width: 160px;
  padding-top: 1rem;
  position: relative;
}
header svg path {
  fill: #000;
}
header .fas {
  font-size: 1.2rem;
  position: absolute;
  left: 7%;
  top: 28px;
  margin-left: 1vh;
}
header .fas a {
  color: #000;
  text-decoration: none;
}
header .fas a:visited {
  color: #000;
}
header .fas a:hover {
  color: #000;
}
header .fas a:active {
  color: #FF79DA;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font: 100% "Roboto", sans-serif;
  color: #000;
  min-width: 375px;
  max-width: 900px;
  margin: 0 auto;
}
body :not(.loader):not(.loader--container):not(.loader-inner):not(.filler) {
  animation: animatebottom 3.2s ease-in-out;
}

main {
  width: 100%;
}
main a {
  color: #000;
  text-decoration: none;
}
main a:visited {
  color: #000;
}
main a:hover {
  color: #000;
}
main a:active {
  color: #FF79DA;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: unset;
  align-items: unset;
  height: 195px;
  background-color: #353535;
  color: #fff;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:visited {
  color: #000;
}
footer a:hover {
  color: #000;
}
footer a:active {
  color: #FF79DA;
}
footer svg {
  width: 7rem;
  padding: 1rem 1.5rem;
}
footer svg path {
  fill: #fff;
}
footer ul {
  list-style: none;
  margin: 0;
  padding-left: 1.5rem;
  line-height: 1.5rem;
}
footer ul li:nth-child(1) img {
  width: 0.7rem;
  padding-right: 0.5rem;
}
footer ul li:nth-child(2) img {
  width: 0.9rem;
  padding-right: 0.3rem;
}

.localisation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.localisation__town {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bolder;
  height: 65px;
  background: #eaeaea;
  align-items: center;
}
.localisation__town img {
  width: 12px;
  padding-right: 1rem;
  margin-left: -21px;
}
.localisation__exploreRestaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 287px;
  background-color: #f6f6f6;
}
.localisation__exploreRestaurants h1 {
  margin-top: 0;
  padding: 0 3rem;
  text-align: center;
}
.localisation__exploreRestaurants p {
  margin-top: 0;
  text-align: center;
  font-size: large;
}
.localisation__exploreRestaurants button {
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 220px;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 5rem;
  color: #fff;
  font-size: 0.95rem;
  font-weight: bolder;
  margin-top: 1rem;
  transition: All 330ms ease-in-out;
  align-self: center;
  margin: 2rem 0;
}
.localisation__exploreRestaurants button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0.5px 5px black;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: unset;
  height: 440px;
}
.presentation h2 {
  padding-left: 1.4rem;
  margin: 0;
}
.presentation__list {
  list-style: none;
}
.presentation__list > li {
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  width: auto;
  background: #f6f6f6;
  border-radius: 1rem;
  counter-increment: gradient-counter;
  margin-top: 1rem;
  height: 75px;
  margin-right: 1rem;
  position: relative;
  font-weight: 700;
}
.presentation__list > li:last-child {
  background-color: #f5edff;
}
.presentation__list > li::before {
  background: #9356DC;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  left: -1rem;
  overflow: hidden;
  position: absolute;
  align-items: center;
  content: counter(gradient-counter);
  display: flex;
  justify-content: center;
  z-index: 1;
  color: #fff;
  font-size: smaller;
}
.presentation__list > li img {
  height: 1.3rem;
  width: 1.1rem;
  position: absolute;
  left: 2rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding: 2rem 0;
}
@media (min-width: 657px) {
  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
.restaurant .containerCardHeartFav {
  position: relative;
  width: 100%;
}
@media (min-width: 657px) {
  .restaurant .containerCardHeartFav {
    width: 40%;
    margin: 1rem 2rem;
  }
}
.restaurant h2 {
  align-self: flex-start;
  margin-left: 1rem;
  margin-top: 0;
}
@media (min-width: 657px) {
  .restaurant h2 {
    width: 100%;
  }
}
.restaurant__card {
  border-radius: 1rem;
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.1);
  height: 250px;
  background-color: white;
  margin: 0.5rem 1rem;
  position: relative;
  overflow: hidden;
}
.restaurant__card--new::before {
  position: absolute;
  padding: 0.5rem 0.8rem;
  right: 3%;
  top: 5%;
  content: "Nouveau";
  background-color: #99E2D0;
  color: #000;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-weight: bolder;
}
.restaurant__card img {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 70%;
  object-position: 0 62%;
}
.restaurant__card img:not(.restaurant :nth-child(0n+3) img) {
  object-position: 0% 108%;
}
.restaurant__card--bottomDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: unset;
  padding-top: 0.7rem;
  padding-left: 1rem;
}
.restaurant__card--bottomDescription h3 {
  margin: 0;
}
.restaurant__card--bottomDescription span {
  order: 1;
}
.restaurant .favHeart {
  font-size: 1.5rem;
  width: 1.5rem;
  position: absolute;
  cursor: pointer;
  top: 199px;
  right: 32px;
}
.restaurant .favHeart > .far, .restaurant .favHeart .fas {
  position: absolute;
}
.restaurant .favHeart .fas {
  opacity: 0;
}
.restaurant .favHeart:hover .far {
  opacity: 0.5;
}
.restaurant .favHeart:hover .far + .fas {
  transition: opacity 0.3s ease-out;
  opacity: 1;
  color: #9356DC;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
main .topBanner--1 img {
  width: 100%;
  object-position: 0 2px;
  margin-bottom: -47px;
}
main .topBanner--2 img {
  width: 100%;
  object-position: 0 -96px;
  margin-bottom: -253px;
}
@media (min-width: 657px) {
  main .topBanner--2 img {
    margin-bottom: -473px;
  }
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 2.7rem 2.7rem 0 0;
  background-color: #f6f6f6;
}
main .container .topTitleFav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-left: -5.3rem;
  position: relative;
}
main .container .topTitleFav--shortTitle {
  margin-left: -8.3rem;
}
main .container .topTitleFav h1 {
  font: 100% "Shrikhand", cursive;
  font-size: 1.7rem;
}
main .container .topTitleFav .favHeart {
  font-size: 1.5rem;
  width: 1.5rem;
  position: absolute;
  cursor: pointer;
  top: 32px;
  right: -2%;
}
main .container .topTitleFav .favHeart > .far, main .container .topTitleFav .favHeart .fas {
  position: absolute;
}
main .container .topTitleFav .favHeart .fas {
  opacity: 0;
}
main .container .topTitleFav .favHeart:hover .far {
  opacity: 0.5;
}
main .container .topTitleFav .favHeart:hover .far + .fas {
  transition: opacity 0.3s ease-out;
  opacity: 1;
  color: #9356DC;
}
main .container .dishes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: unset;
  padding: 0 1rem;
  width: 90%;
}
main .container .dishes .dishes_type--title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  width: 41px;
}
main .container .dishes .dishes_type--title .borderBottom {
  border-bottom: 0.2rem solid #99E2D0;
  left: 50%;
}
main .container .dishes .dishes_type .dishBox {
  background-color: #fff;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
  padding: 0.9rem;
  animation: animBox 4s ease-in-out both;
  overflow: hidden;
}
main .container .dishes .dishes_type .dishBox--1 {
  animation-delay: 0.325s;
  position: relative;
}
main .container .dishes .dishes_type .dishBox--1:hover .check {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--1:hover .price {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--1:hover .description h4 {
  width: 60%;
}
main .container .dishes .dishes_type .dishBox--1:hover .fas {
  transform: rotate(360deg);
}
main .container .dishes .dishes_type .dishBox--2 {
  animation-delay: 0.45s;
  position: relative;
}
main .container .dishes .dishes_type .dishBox--2:hover .check {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--2:hover .price {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--2:hover .description h4 {
  width: 60%;
}
main .container .dishes .dishes_type .dishBox--2:hover .fas {
  transform: rotate(360deg);
}
main .container .dishes .dishes_type .dishBox--3 {
  animation-delay: 0.575s;
  position: relative;
}
main .container .dishes .dishes_type .dishBox--3:hover .check {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--3:hover .price {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--3:hover .description h4 {
  width: 60%;
}
main .container .dishes .dishes_type .dishBox--3:hover .fas {
  transform: rotate(360deg);
}
main .container .dishes .dishes_type .dishBox--4 {
  animation-delay: 0.7s;
  position: relative;
}
main .container .dishes .dishes_type .dishBox--4:hover .check {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--4:hover .price {
  transform: translate(-100px, 0);
}
main .container .dishes .dishes_type .dishBox--4:hover .description h4 {
  width: 60%;
}
main .container .dishes .dishes_type .dishBox--4:hover .fas {
  transform: rotate(360deg);
}
main .container .dishes .dishes_type .dishBox h3 {
  margin: 0.2rem 0;
  width: 276px;
}
main .container .dishes .dishes_type .dishBox .description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
main .container .dishes .dishes_type .dishBox .description h4 {
  font-weight: 400;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 85%;
  transition: width 330ms ease-in-out;
}
main .container .dishes .dishes_type .dishBox .description .price {
  font-weight: bold;
  transition: transform 330ms ease-in-out;
}
main .container .dishes .dishes_type .check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #99E2D0;
  position: absolute;
  top: 0;
  right: -100px;
  height: 100%;
  width: 100px;
  transition: transform 330ms ease-in-out;
}
main .container .dishes .dishes_type .check .fas {
  color: #fff;
  font-size: 2rem;
  transition: transform 330ms ease-in-out;
}
main .container .dishes button {
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
  height: 50px;
  width: 220px;
  background: linear-gradient(355deg, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 5rem;
  color: #fff;
  font-size: 0.95rem;
  font-weight: bolder;
  margin-top: 1rem;
  transition: All 330ms ease-in-out;
  align-self: center;
  margin: 2rem 0;
}
main .container .dishes button:hover {
  transform: scale(1.2);
  box-shadow: 0px 0.5px 5px black;
}

@keyframes animBox {
  0%, 80% {
    opacity: 0;
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
