.loader{
    @include box-flex-format;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: $white-color;
    width: 100%;
    height: 100%;
    animation: loader-vanish 2s ease-in-out forwards;
    &--container{
        position: relative;
        overflow: hidden;
        width: 200px;
        height:200px;
        border-radius:50%;
        background-image : url(/pngtree-kniffe-fork-spoon-icon-png-image_3581494.svg);  
    
    
        & .loader-inner {
            width: 100%;
            height: 100%;
            animation: loader-spin .5s linear infinite;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block;
            border: 3px solid transparent;
            border-right-color: $primary-color;
            border-left-color: $second-color;
            border-radius: 50%;
        }
        & .filler {
            position: absolute;
            z-index:-1;
            width : 200px;
            height : 200px;
            background-color:  $primary-color;
            animation:plate-filler 2s ease-in-out; 
        }
    }
}
  
  
  @keyframes plate-filler{
    0%{
      transform:translate(0, 200px);
    }
    100%{
      transform:translate(0, 0px);
    }
  }
  @keyframes loader-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }

  @keyframes loader-vanish{
    0%, 90%{     
      opacity:1;      
    }
    100%{
      opacity:0;
      z-index: -2;
    }
  }

//animation du body
  @keyframes animatebottom { 
    0%, 90%{ 
        top:-100%; opacity:0 ; 
    } 
    100%{ 
        top:0; opacity:1;
    }
  }