.localisation {
    @include box-flex-format(column);  
    &__town{
      @include box-flex-format;
      font-weight: bolder;
      height: 65px;
      background: $background-color-1;
      align-items: center;
      img{
      width: 12px;
      padding-right: 1rem;  
      margin-left: -21px;    
      }
    }
    &__exploreRestaurants{
      @include box-flex-format(column);
      height: 287px;
      background-color: $background-color-2;
      h1{
        margin-top : 0;
        padding: 0 3rem;
        text-align: center;
      }
      p{
        margin-top : 0;
        text-align: center;
        font-size: large;
      }
      @include buttonClassic;    
    }
}
  
.presentation{
    @include box-flex-format(column);
    align-items: unset;
    height: 440px;  
    & h2{
        padding-left: 1.4rem;
        margin: 0;
        }
    &__list {
        list-style: none;
        > li{
            @include box-shadow(0.2);
            @include box-flex-format();
            width: auto;
            background: $background-color-2;
            border-radius: 1rem;
            counter-increment: gradient-counter;
            margin-top: 1rem;
            height: 75px;
            margin-right: 1rem;
            position: relative;
            font-weight: 700;
            &:last-child{
                background-color: $background-color-3;
            }
            &::before{
                background: $primary-color;
                border-radius: 50%;
                height: 1.5rem;
                width:1.5rem;
                left: -1rem;
                overflow: hidden;
                position: absolute;
                align-items: center;
                content: counter(gradient-counter);
                display: flex;
                justify-content: center;
                z-index: 1;
                color: $white-color;
                font-size: smaller;
            }
            & img{
                height: 1.3rem;
                width: 1.1rem;
                position: absolute;
                left: 2rem;
            }
        }  
    }
} 
  
.restaurant{
    @include box-flex-format(column); 
    background-color: $background-color-2;
    padding: 2rem 0;
    @media (min-width: 657px) {
      @include box-flex-format();
      flex-wrap: wrap;
    }
    & .containerCardHeartFav{
      position: relative;
      width: 100%;
      @media (min-width: 657px) {
        width: 40%;
        margin: 1rem 2rem;
      }
    }
    & h2{
      align-self: flex-start;
      margin-left: 1rem;
      margin-top: 0;
      @media (min-width: 657px) {
        width: 100%;
      }   
    }
    
    &__card{
      border-radius: 1rem;
      @include box-shadow(0.1);
      height: 250px;
      background-color: white;
      margin: 0.5rem 1rem;
      position: relative;
      overflow: hidden;      
      
      &--new::before{
        @include newRestaurant();
      }
      & img{
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
        width: 100%;
        height: 70%;
        object-position: 0 62%;
      }
      & img:not(.restaurant .containerCardHeartFav:nth-child(3) img){      
        object-position: 0% 108%;
      }
      &--bottomDescription{
            @include box-flex-format(column);
            align-items: unset;
            padding-top: 0.7rem;
            padding-left: 1rem;     
            & h3{
            margin:  0;
            }
            & span{
            order: 1
            }      
      }
    }           
            @include heartFav(199px,32px); 
}