main{  
    @include box-flex-format(column);  
    
    
    & .topBanner { 
        &--1 {
            & img {
                width: 100%;
                object-position: 0 2px;
                margin-bottom: -47px;            
            }   
        }
        &--2 {
            & img {
                width: 100%;
                object-position: 0 -96px;   
                margin-bottom: -253px;   
                @media (min-width: 657px) {
                    margin-bottom: -473px;
                }
            }   
        }
    }
    & .container {
        @include box-flex-format(column);
        border-radius: 2.7rem 2.7rem 0 0;
        background-color: $background-color-2;
        & .topTitleFav{
            @include box-flex-format;
            justify-content: space-around;
            margin-left: -5.3rem;
            position: relative;
            &--shortTitle{
                margin-left: -8.3rem;
            }
            & h1{
                font: 100% $font-logo-title;
                font-size: 1.7rem;
            }
            @include heartFav(32px,-2%);
            
        } 
        & .dishes{
            @include box-flex-format(column);
            align-items: unset;
            padding: 0 1rem;
            width: 90%;
            & .dishes_type{              
                &--title{
                    text-transform: uppercase;
                    font-size: 1rem;
                    font-weight: 400;
                    display: inline-block;
                    width: 41px;
                    & .borderBottom{
                        border-bottom: 0.2rem solid $third-color;
                        left: 50%;

                    }
                }
                & .dishBox{
                    background-color:$white-color;
                    margin-bottom: 1rem;
                    border-radius: 0.7rem;
                    padding: 0.9rem;
                    animation: animBox 4s ease-in-out both;
                    overflow: hidden;
                    @for $i from 1 through 4 {
                        &--#{$i} {
                            animation-delay: 0.2s + $i/8;
                            position: relative;
                            &:hover .check {
                                transform: translate(-100px, 0);
                            }
                            &:hover .price {
                                transform: translate(-100px, 0);
                            }
                            &:hover .description h4 {
                                width: 60%;
                            }
                            &:hover .fas {
                                transform: rotate(360deg);
                            }
                        }
                    }
                    & h3{
                        margin: 0.2rem 0;
                        width: 276px;
                    }
                    & .description{
                        @include box-flex-format;
                        justify-content: space-between;
                        & h4{
                            font-weight: 400;
                            margin: 0;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            width: 85%;
                            transition: width 330ms ease-in-out;
                            }
                        & .price{
                            font-weight: bold;
                            transition: transform 330ms ease-in-out;
                        }
                                                
                    }
                    
                    
                }
                & .check{
                        @include box-flex-format;
                        background-color: $third-color;
                        position: absolute;
                        top :0;
                        right: -100px;
                        height: 100%;
                        width: 100px;
                        transition: transform 330ms ease-in-out;
                        & .fas{
                            color: $white-color;
                            font-size: 2rem;
                            transition: transform 330ms ease-in-out;
                        }
                        
                     
                    }
            }
            
            @include buttonClassic; 
            
        }                         
        
    }
}

@keyframes animBox {
    0%, 80%{
        opacity:0;
        transform: translate(0,15px);
    }
    100%{
        transform: translate(0);
        opacity:1;
    }
}
