$font-logo-title :    'Shrikhand', cursive;
$text1 :    'Roboto', sans-serif;
$primary-color: #9356DC;
$second-color : #FF79DA;
$third-color : #99E2D0;
$black-color:#000;
$white-color:#fff;
$background-color-1: #eaeaea;
$background-color-2: #f6f6f6;
$background-color-3: #f5edff;
$grey-footer:#353535;
